version: "3.9"

services:
  frontend:
    build: .
    container_name: react-frontend
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
